<div class="card">
    <p-table
        #tbl_destinos
        [value]="destinos"
        dataKey="id"
        [lazy]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [alwaysShowPaginator]="true"
        [showCurrentPageReport]="true"
        [paginator]="true"
        (onLazyLoad)="listar($event)"
        [globalFilterFields]="['titulo', 'precioVentaSoles', 'precioVentaDolares']"
        [tableStyle]="{ 'min-width': '75rem' }"
        sortField="titulo" 
        [sortOrder]="1"
        styleClass="p-datatable-gridlines" 
        [totalRecords]="totalRegistros"
        [rows]="filter.pageSize"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
    >
        <ng-template #caption>
            <div class="flex">
                <p-button label="Nuevo" (onClick)="onNuevoClick()" icon="pi pi-plus" />
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                     <input pInputText type="text" [(ngModel)]="globalFilter"
                            (input)="onGlobalFilter(tbl_destinos, $event)"
                            [ngModelOptions]="{standalone: true}" placeholder="Busque alguna palabra..." />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="titulo">
                    Nombre <p-sortIcon field="titulo" />
                </th>
                <th >Img. Ref.</th>
                <th pSortableColumn="eventosAbiertos">
                    Eventos Abiertos <p-sortIcon field="eventosAbiertos" />
                </th>
                <th pSortableColumn="eventosCerrados">
                    Eventos Cerrados <p-sortIcon field="eventosCerrados" />
                </th>
                <th pSortableColumn="precioVentaSoles">
                    Precio V. (PEN) <p-sortIcon field="precioVentaSoles" />
                </th>
                <th pSortableColumn="precioVentaDolares">
                    Precio V. (USD) <p-sortIcon field="precioVentaDolares" />
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-destino>
            <tr *ngIf="!loading">
                <td>
                    {{ destino.titulo }}
                </td>
                <td>
                    <div class="flex items-center gap-2">
                        <img crossorigin="anonymous" loading="lazy" style="max-width: 50px;" src="{{destino.imagenReferencia}}">
                    </div>
                </td>
                <td>
                    <div class="flex items-center gap-2">
                        <span>{{ destino.eventosAbiertos }}</span>
                    </div>
                </td>
                <td>
                    <div class="flex items-center gap-2">
                        <span>{{ destino.eventosCerrados }}</span>
                    </div>
                </td>
                <td>
                    <div class="flex items-center gap-2">
                        <span>{{ destino.precioVentaSoles | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</span>
                    </div>
                </td>
                <td>
                    <div class="flex items-center gap-2">
                        <span>{{ destino.precioVentaDolares | currency:'USD':'symbol':'1.2-2':'en-US' }}</span>
                    </div>
                </td>
                <td>
                    <app-estado-tag [estado]="destino.activo"></app-estado-tag>
                </td>
                <td>
                    <p-button (onClick)="onEditarClick(destino.id)" icon="pi pi-pencil" severity="success" class="mr-2" title="Editar" />
                    <p-button icon="pi pi-trash" severity="danger" title="Eliminar" />
                </td>
            </tr>
            <tr *ngIf="loading">
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
                <td><p-skeleton /></td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">Aún no tienes destinos, <a class="underline cursor-pointer text-blue-600" (click)="onNuevoClick()">agrega uno</a>.</td>
            </tr>
        </ng-template>
    </p-table>
</div>