
<div class="grid grid-cols-12" [formGroup]="empresaForm">
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">RUC</label>
        <p-inputmask mask="99999999999" formControlName="ruc" styleClass="w-full" [appShowErrors]="empresaForm.get('ruc')" placeholder="XXXXXXXXXXX" />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Razón Social</label>
        <input formControlName="razonSocial" [appShowErrors]="empresaForm.get('razonSocial')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Nombre Comercial</label>
        <input formControlName="nombreComercial" [appShowErrors]="empresaForm.get('nombreComercial')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Tipo Empresa</label>
        <input formControlName="tipoEmpresa" [appShowErrors]="empresaForm.get('tipoEmpresa')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Departamento</label>
        <p-select [appShowErrors]="empresaForm.get('codigoDepartamento')" [options]="departamentos"
            formControlName="codigoDepartamento"
            [showClear]="true"
            [filter]="true"
            filterBy="nombre"
            optionLabel="nombre"
            optionValue="codigo" 
            (onChange)="onDepartamentoChange($event)"
            placeholder="Selecciona un departamento"
            class="w-full" />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Provincia</label>
        <p-select [appShowErrors]="empresaForm.get('codigoProvincia')" [options]="provincias" 
            formControlName="codigoProvincia"                
            [showClear]="true"
            [filter]="true"
            filterBy="nombre"
            optionLabel="nombre"
            optionValue="codigo" 
            (onChange)="onProvinciaChange($event)"
            placeholder="Selecciona una provincia" class="w-full" />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Distrito</label>
        <p-select [appShowErrors]="empresaForm.get('codigoDistrito')" [options]="distritos"
            formControlName="codigoDistrito"
            [showClear]="true"
            [filter]="true"
            filterBy="nombre"
            optionLabel="nombre"
            optionValue="codigo" 
            placeholder="Selecciona un distrito"
            class="w-full" />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Dirección</label>
        <input formControlName="direccion" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Teléfono</label>
        <input formControlName="telefono" [appShowErrors]="empresaForm.get('telefono')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Correo</label>
        <input formControlName="email" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Web</label>
        <input formControlName="paginaWeb" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">URL Logo</label>
        <input formControlName="logoUrl" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Representante Legal</label>
        <input formControlName="representante" [appShowErrors]="empresaForm.get('representante')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">DNI Representante Legal</label>
        <p-inputmask mask="99999999" formControlName="dniRepresentante" styleClass="w-full" [appShowErrors]="empresaForm.get('dniRepresentante')" placeholder="XXXXXXXX" />
    </div>
</div>