
<div class="grid grid-cols-12" [formGroup]="empresaForm">
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">RUC</label>
        <input formControlName="ruc" [appShowErrors]="empresaForm.get('ruc')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Razón Social</label>
        <input formControlName="razonSocial" [appShowErrors]="empresaForm.get('razonSocial')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Nombre Comercial</label>
        <input formControlName="nombreComercial" [appShowErrors]="empresaForm.get('nombreComercial')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Tipo Empresa</label>
        <input formControlName="tipoEmpresa" [appShowErrors]="empresaForm.get('tipoEmpresa')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Departamento</label>
        <input formControlName="codigoDepartamento" [appShowErrors]="empresaForm.get('codigoDepartamento')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Provincia</label>
        <input formControlName="codigoProvincia" [appShowErrors]="empresaForm.get('codigoProvincia')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Distrito</label>
        <input formControlName="codigoDistrito" [appShowErrors]="empresaForm.get('codigoDistrito')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Dirección</label>
        <input formControlName="direccion" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Teléfono</label>
        <input formControlName="telefono" [appShowErrors]="empresaForm.get('telefono')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Correo</label>
        <input formControlName="email" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Web</label>
        <input formControlName="paginaWeb" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">URL Logo</label>
        <input formControlName="logoUrl" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">Representante Legal</label>
        <input formControlName="representante" [appShowErrors]="empresaForm.get('representante')" type="text" class="w-full" pInputText />
    </div>
    <div class="col-span-12 lg:col-span-4 md:col-span-6 p-3">
        <label for="class">DNI Representante Legal</label>
        <input formControlName="dniRepresentante" [appShowErrors]="empresaForm.get('dniRepresentante')" type="text" class="w-full" pInputText />
    </div>
</div>