<div class="card p-0" style="padding: 0; margin-bottom: 10px !important;">
    <p-breadcrumb [model]="items" [home]="home" />
</div>
<div class="card" [formGroup]="eventoForm">
    <p-tabs value="{{indexTab}}" (valueChange)="onTabChange()">
        <p-tablist>
            <p-tab value="0">Principal</p-tab>
            <p-tab value="1">Adicional</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <div class="grid grid-cols-12">
                    <div class="col-span-12 p-3">
                        <h3>Datos Generales</h3>
                        <p-divider />
                    </div>
                    <div class="col-span-12 p-3 ">
                        <label for="class" class="w-full">Destino</label>
                        <p-select formControlName="idDestino" [appShowErrors]="eventoForm.get('idDestino')"
                            styleClass="w-full" [options]="listaDestinos" class="mr-2" [showClear]="true"
                            optionLabel="nombre" optionValue="id" [filter]="true" filterBy="nombre"
                            (onChange)="onDestinoChange($event)" placeholder="Seleccione un destino" />
                    </div>

                    <div class="col-span-12 md:col-span-6 p-3 ">
                        <label for="class">Título</label>
                        <input formControlName="titulo" [appShowErrors]="eventoForm.get('titulo')" type="text"
                            class="w-full" pInputText />
                    </div>
                    <div class="col-span-12 md:col-span-6 p-3">
                        <label for="class">Subtítulo</label>
                        <input formControlName="subtitulo" type="text" class="w-full" pInputText />
                    </div>
                    <div class="col-span-12 p-3">
                        <label for="class">Descripción</label>
                        <p-editor formControlName="descripcion"
                            [readonly]="readonly"
                            [style]="{ height: 'auto' }" [appShowErrors]="eventoForm.get('descripcion')">
                            <ng-template #header>
                                <span class="ql-formats">
                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                </span>
                            </ng-template>
                        </p-editor>
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 p-3">
                        <label for="class">Categoria</label>
                        <p-select [appShowErrors]="eventoForm.get('idCategoria')" [options]="categoria"
                            formControlName="idCategoria" [showClear]="true" [filter]="true" filterBy="nombre"
                            optionLabel="nombre" optionValue="id" placeholder="Selecciona una categoría"
                            class="w-full" />
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 p-3">
                        <label for="class">Nivel de exigencia</label>
                        <p-select [appShowErrors]="eventoForm.get('idNivelExigencia')" [options]="nivelExigencia"
                            formControlName="idNivelExigencia" [showClear]="true" [filter]="true" filterBy="nombre"
                            optionLabel="nombre" optionValue="id" placeholder="Selecciona un nivel de exigencia"
                            class="w-full" />
                    </div>
                    <div class="col-span-12 p-3">
                        <h3>Precios</h3>
                        <p-divider />
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-3 p-3">
                        <label for="class">Precio Base Soles</label>
                        <p-inputNumber formControlName="precioBaseSoles"
                            [appShowErrors]="eventoForm.get('precioBaseSoles')" mode="currency" [maxFractionDigits]="2"
                            [minFractionDigits]="2" [max]="9999999999.99" currency="PEN" locale="es-PE"
                            styleClass="w-full" />
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-3 p-3">
                        <label for="class">Precio Venta Soles</label>
                        <p-inputNumber formControlName="precioVentaSoles"
                            [appShowErrors]="eventoForm.get('precioVentaSoles')" mode="currency" [maxFractionDigits]="2"
                            [minFractionDigits]="2" [max]="9999999999.99" currency="PEN" locale="es-PE"
                            styleClass="w-full" />
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-3 p-3">
                        <label for="class">Precio Base Dolares</label>
                        <p-inputNumber formControlName="precioBaseDolares"
                            [appShowErrors]="eventoForm.get('precioBaseDolares')" mode="currency"
                            [maxFractionDigits]="2" [minFractionDigits]="2" [max]="9999999999.99" currency="USD"
                            locale="en-US" styleClass="w-full" />
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-3 p-3">
                        <label for="class">Precio Venta Dolares</label>
                        <p-inputNumber formControlName="precioVentaDolares"
                            [appShowErrors]="eventoForm.get('precioVentaDolares')" mode="currency"
                            [maxFractionDigits]="2" [minFractionDigits]="2" [max]="9999999999.99" currency="USD"
                            locale="en-US" styleClass="w-full" />
                    </div>

                    <div class="col-span-12 p-3">
                        <h3>Datos de Ubicación</h3>
                        <p-divider />
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-4 p-3">
                        <label for="class">Departamento</label>
                        <p-select [appShowErrors]="eventoForm.get('codigoDepartamento')" [options]="departamentos"
                            formControlName="codigoDepartamento" [showClear]="true" [filter]="true" filterBy="nombre"
                            optionLabel="nombre" optionValue="codigo" (onChange)="onDepartamentoChange($event)"
                            placeholder="Selecciona un departamento" class="w-full" />
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-4 p-3">
                        <label for="class">Provincia</label>
                        <p-select [appShowErrors]="eventoForm.get('codigoProvincia')" [options]="provincias"
                            formControlName="codigoProvincia" [showClear]="true" [filter]="true" filterBy="nombre"
                            optionLabel="nombre" optionValue="codigo" (onChange)="onProvinciaChange($event)"
                            placeholder="Selecciona una provincia" class="w-full" />
                    </div>
                    <div class="col-span-12 md:col-span-6 lg:col-span-4 p-3">
                        <label for="class">Distrito</label>
                        <p-select [appShowErrors]="eventoForm.get('codigoDistrito')" [options]="distritos"
                            formControlName="codigoDistrito" [showClear]="true" [filter]="true" filterBy="nombre"
                            optionLabel="nombre" optionValue="codigo" placeholder="Selecciona un distrito"
                            class="w-full" />
                    </div>
                    <div class="col-span-12 p-3">
                        <h3>Imágenes <small>(total max. {{pesoMaximoActualizado | size}})</small></h3>
                        <p-divider />
                    </div>
                    <div class="col-span-12 md:col-span-6 p-3">
                        <label>Imágenes por subir</label>
                        <p-fileupload #uploader [customUpload]="true" [auto]="false" [disabled]="!permiteSubirImagen"
                            [multiple]="true" accept="image/*" [maxFileSize]="pesoMaximoActualizado"
                            (onRemove)="onFileRemove($event)" (onSelect)="onFileSelect($event)"
                            (onBeforeUpload)="onBeforeUpload($event)" mode="advanced" [showUploadButton]="false"
                            chooseLabel="Escoger imágenes" cancelLabel="Cancelar"
                            invalidFileSizeMessageDetail="Solo le queda por subir {{pesoMaximoActualizado | size}}."
                            invalidFileSizeMessageSummary="Ups,"
                            invalidFileTypeMessageDetail="Solo puede subir imágenes">
                            <ng-template #empty>
                                <div>Suelte imágenes o escoja alguno.</div>
                            </ng-template>
                        </p-fileupload>
                    </div>
                    <div class="col-span-12 md:col-span-6 p-3">
                        <label>Imágenes subidas ({{pesoTotal | size }})</label>
                        <p-panel>
                            <div class="flex flex-wrap gap-4">
                                <div *ngFor="let imagen of imagenesEvento"
                                    class="flex flex-col justify-between w-32 p-2 border rounded shadow">

                                    <p-image [src]="imagen.url" alt="Imagen" [preview]="true" class="w-full" />
                                    <small class="text-center">{{imagen.peso | size }}</small>

                                    <p-button (onClick)="onEliminarImagenClick(imagen.id, $event)" icon="pi pi-trash"
                                        variant="outlined" severity="danger" styleClass="w-full mx-auto" />
                                </div>
                            </div>

                        </p-panel>
                    </div>
                </div>
            </p-tabpanel>
            <p-tabpanel value="1">
                <div class="grid grid-cols-12">
                    <div class="col-span-12 md:col-span-6 p-3">
                        <h5>Itinerario</h5>
                        <p-editor [readonly]="readonly"
                            formControlName="itinerario" [style]="{ height: 'auto' }">
                            <ng-template #header>
                                <span class="ql-formats">
                                    <select class="ql-header" aria-label="Header level">
                                        <option value="1">Título</option>
                                        <option value="2">Subtitulo</option>
                                        <option selected>Normal</option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-font" aria-label="Fuente"></select>
                                </span>
                                <span class="ql-formats">
                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                    <button type="button" class="ql-list" value="ordered"
                                        aria-label="list: ordered"></button>
                                    <button type="button" class="ql-list" value="bullet"
                                        aria-label="list: bullet"></button>
                                    <select class="ql-color" aria-label="Text Color"></select>
                                </span>
                            </ng-template>
                        </p-editor>
                    </div>
                    <div class="col-span-12 md:col-span-6 p-3">
                        <h5>¿Qué incluye?</h5>
                        <p-editor [readonly]="readonly"
                            formControlName="incluye" [style]="{ height: 'auto' }">
                            <ng-template #header>
                                <span class="ql-formats">
                                    <select class="ql-header" aria-label="Header level">
                                        <option value="1">Título</option>
                                        <option value="2">Subtitulo</option>
                                        <option selected>Normal</option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-font" aria-label="Fuente"></select>
                                </span>
                                <span class="ql-formats">
                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                    <button type="button" class="ql-list" value="ordered"
                                        aria-label="list: ordered"></button>
                                    <button type="button" class="ql-list" value="bullet"
                                        aria-label="list: bullet"></button>
                                    <select class="ql-color" aria-label="Text Color"></select>
                                </span>
                            </ng-template>
                        </p-editor>
                    </div>
                    <div class="col-span-12 md:col-span-6 p-3">
                        <h5>¿Qué NO incluye?</h5>
                        <p-editor [readonly]="readonly"
                            formControlName="noIncluye" [style]="{ height: 'auto' }">
                            <ng-template #header>
                                <span class="ql-formats">
                                    <select class="ql-header" aria-label="Header level">
                                        <option value="1">Título</option>
                                        <option value="2">Subtitulo</option>
                                        <option selected>Normal</option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-font" aria-label="Fuente"></select>
                                </span>
                                <span class="ql-formats">
                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                    <button type="button" class="ql-list" value="ordered"
                                        aria-label="list: ordered"></button>
                                    <button type="button" class="ql-list" value="bullet"
                                        aria-label="list: bullet"></button>
                                    <select class="ql-color" aria-label="Text Color"></select>
                                </span>
                            </ng-template>
                        </p-editor>
                    </div>
                    <div class="col-span-12 md:col-span-6 p-3">
                        <h5>Recomendaciones</h5>
                        <p-editor
                            [readonly]="readonly"
                            formControlName="recomendaciones" [style]="{ height: 'auto' }">
                            <ng-template #header>
                                <span class="ql-formats">
                                    <select class="ql-header" aria-label="Header level">
                                        <option value="1">Título</option>
                                        <option value="2">Subtitulo</option>
                                        <option selected>Normal</option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-font" aria-label="Fuente"></select>
                                </span>
                                <span class="ql-formats">
                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                    <button type="button" class="ql-list" value="ordered"
                                        aria-label="list: ordered"></button>
                                    <button type="button" class="ql-list" value="bullet"
                                        aria-label="list: bullet"></button>
                                    <select class="ql-color" aria-label="Text Color"></select>
                                </span>
                            </ng-template>
                        </p-editor>
                    </div>
                    <div class="col-span-12 md:col-span-6 p-3">
                        <h5>Términos y Condiciones</h5>
                        <p-editor
                            [readonly]="readonly"
                            formControlName="terminosCondiciones" [style]="{ height: 'auto' }">
                            <ng-template #header>
                                <span class="ql-formats">
                                    <select class="ql-header" aria-label="Header level">
                                        <option value="1">Título</option>
                                        <option value="2">Subtitulo</option>
                                        <option selected>Normal</option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-font" aria-label="Fuente"></select>
                                </span>
                                <span class="ql-formats">
                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                    <button type="button" class="ql-list" value="ordered"
                                        aria-label="list: ordered"></button>
                                    <button type="button" class="ql-list" value="bullet"
                                        aria-label="list: bullet"></button>
                                    <select class="ql-color" aria-label="Text Color"></select>
                                </span>
                            </ng-template>
                        </p-editor>
                    </div>
                    <div class="col-span-12 md:col-span-6 p-3">
                        <h5>Observaciones adicionales</h5>
                        <p-editor
                            [readonly]="readonly"
                            formControlName="observaciones" [style]="{ height: 'auto' }">
                            <ng-template #header>
                                <span class="ql-formats">
                                    <select class="ql-header" aria-label="Header level">
                                        <option value="1">Título</option>
                                        <option value="2">Subtitulo</option>
                                        <option selected>Normal</option>
                                    </select>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-font" aria-label="Fuente"></select>
                                </span>
                                <span class="ql-formats">
                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                    <button type="button" class="ql-list" value="ordered"
                                        aria-label="list: ordered"></button>
                                    <button type="button" class="ql-list" value="bullet"
                                        aria-label="list: bullet"></button>
                                    <select class="ql-color" aria-label="Text Color"></select>
                                </span>
                            </ng-template>
                        </p-editor>
                    </div>
                </div>
            </p-tabpanel>
        </p-tabpanels>

        <div class="p-3 border-t bg-white col-span-full flex justify-end" style="position: sticky; bottom: 0;">
            <button pButton severity="danger" class="mr-2" (click)="onCancelarClick()">
                <i class="pi pi-times" pButtonIcon></i>
                <span pButtonLabel>Cancelar</span>
            </button>
            <button pButton (click)="onGuardarClick()"
                class="bg-green-600 text-white ring-2 ring-green-300 animate-pulse hover:ring-4 transition-all duration-300">
                <i class="pi pi-check" pButtonIcon></i>
                <span pButtonLabel>Guardar</span>
            </button>
        </div>
    </p-tabs>
</div>